.container{
    width:80%;
    display: flex;
    justify-content: center;
    margin: 90px auto;
    background-color: #e8dcc7;
    align-items: center;
    border:#e8dcc7 solid 2px;
    border-radius: 10px;
    padding: 20px;
}
.container div{
    margin-right: 10px;
}
.container div img{
    width:250px;
    height:250px;
    border-radius: 10px;

}
.container div h4{
    font-weight: 600;
    font-size:30px;
    color:#0d0c22;
    margin: 10px 0 5px 0;
}
.container div h5{
    font-weight: 500;
    font-size:20px;
    color:#4a4a6a;
    margin: 5px 0;
}
.container div h5 span{
    font-weight: 500;
    font-size:18px;
    color:#7c7c99;
}