.container{
    width:80%;
    display: flex;
    justify-content: center;
    margin: 90px auto;
    background-color: #e8dcc7;
    align-items: center;
    border:#e8dcc7 solid 2px;
    border-radius: 10px;
    padding: 20px;
}
.container div{
    margin-right: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;

}
.container div:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.container div img{
    width:250px;
    height:250px;
    border-radius: 10px;

}
.container div h4{
    font-weight: 600;
    font-size:30px;
    color:#0d0c22;
    margin: 10px 0 5px 0;
}
.container div h5{
    font-weight: 500;
    font-size:20px;
    color:#4a4a6a;
    margin: 5px 0;
   display: inline-block;
}
.container div span{
    font-weight: 500;
    font-size:18px;
    color:#7c7c99;
    margin: 5px 0;
    text-decoration: line-through;
    
}
.container div p{
    font-weight: 600;
    font-size:20px;
    color:#2a2a46;
    margin: 10px 0;
}